.register-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem auto 0;
}

.register-box {
  width: 90vw;
  max-width: 28rem;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  opacity: 0.8;
  transform: translateY(-2px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.3s ease;
}

.register-box:hover {
  opacity: 1;
  transform: translateY(-4px);
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 0.25rem;
}

input {
  padding: 0.5rem;
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 0.375rem;
  opacity: 0.8;
  transform: translateY(-2px);
  box-shadow: inset -1px -1px -1px rgba(255, 255, 255, 0.5),
    -1px -1px -1px rgba(255, 255, 255, 0.7),
    -2px -2px -1px rgba(255, 255, 255, 0.3);

  transition: all 0.3s ease;
}

input:hover,
input:focus {
  opacity: 0.9;
  transform: translateY(-4px);
  box-shadow: inset -1px -1px -1px rgba(255, 255, 255, 0.5),
    -1px -1px -1px rgba(255, 255, 255, 0.7),
    -2px -2px -1px rgba(255, 255, 255, 0.3);
}

.error-message {
  color: #ef4444;
  font-size: 0.875rem;
}

.submit-button {
  width: calc(100% - 0.5rem);
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.375rem;
  opacity: 0.8;
  transform: translateY(-2px);
  box-shadow: inset -1px -1px -1px rgba(255, 255, 255, 0.5),
    inset -2px -2px -2px rgba(0, 0, 0, 0.05);

  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  background-color: var(--primary-color);
  transition: 0.3s ease;
  border: none;
  cursor: pointer;
}

.submit-button:hover:not(:disabled) {
  background-color: var(--secondary-color);
  opacity: 0.9;
  transform: translateY(-4px);
}

.submit-button:focus {
  outline: none;
}

.submit-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  margin-top: 1.5rem;
  text-align: center;
}

.sign-in a {
  font-size: 0.875rem;
  color: rgba(0, 3, 156, 0.5);
  cursor: pointer;
  transition: color 0.3s ease;
  opacity: 0.8;
}

.sign-in a:hover {
  color: rgba(0, 3, 156, 1);
  opacity: 1;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.25rem;
  }

  .register-box {
    padding: 1.5rem;
  }

  input,
  .submit-button {
    padding: 0.75rem;
    font-size: 0.9rem;
  }
}
