<div class="workout-history-container">
  <div class="workout-history">
    <h2>Workout History</h2>
    <div class="workout-list">
      <div *ngFor="let workout of workouts" class="workout-item">
        <div
          class="workout-summary"
          (click)="toggleWorkoutDetails(workout._id ?? '')"
        >
          <span class="workout-date">{{ formatDate(workout.date) }}</span>
          <span class="workout-muscle-groups">{{
            getWorkoutMuscleGroups(workout)
          }}</span>
        </div>
        <div *ngIf="expandedWorkoutId === workout._id" class="workout-details">
          <p>Duration: {{ formatTime(workout.duration) }}</p>
          <div
            *ngFor="let exercise of workout.exercises"
            class="exercise-summary"
          >
            <h3>{{ getExerciseName(exercise.exerciseId) }}</h3>
            <table>
              <thead>
                <tr>
                  <th>Set</th>
                  <th>Reps</th>
                  <th>Weight (kg)</th>
                  <th>Drop Set</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let set of exercise.sets; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ set.reps }}</td>
                  <td>{{ set.weight }}</td>
                  <td *ngIf="set.dropSet">
                    {{ set.dropSet.reps }} reps {{ set.dropSet.weight }} kg
                  </td>
                  <td *ngIf="!set.dropSet">-</td>
                </tr>
              </tbody>
            </table>
          </div>
          <button (click)="deleteWorkout(workout._id)">Delete Workout</button>
        </div>
      </div>
    </div>
  </div>
</div>
