.muscle-group-selector-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 1rem 0;
  overflow: hidden;
}

.muscle-group-selector-box {
  width: 90vw;
  height: 90vh;
  max-width: 28rem;
  max-height: 900px;
  padding: 2rem;
  border-radius: 0.5rem;
  opacity: 0.8;
  transform: translateY(-2px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: none;
  flex-grow: 1;
  overflow-y: auto;
}

.muscle-group-selector-box:hover {
  opacity: 1;
  transform: translateY(-4px);
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.muscle-groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.muscle-group label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.8;
  transform: translateY(-2px);
  box-shadow: inset -1px -1px -1px rgba(255, 255, 255, 0.5),
    -1px -1px -1px rgba(255, 255, 255, 0.7),
    -2px -2px -1px rgba(255, 255, 255, 0.3);
}

.muscle-group label:hover {
  background-color: var(--secondary-color);
  opacity: 0.9;
  transform: translateY(-4px);
}

.muscle-group label.selected {
  background-color: var(--primary-color);
  color: white;
  border-width: 3px;
  opacity: 1;
}

.confirm-button {
  width: calc(100% - 0.5rem);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-button:hover:not(:disabled) {
  background-color: var(--secondary-color);
  opacity: 0.9;
  transform: translateY(-4px);
}

.confirm-button:focus {
  outline: none;
}

.confirm-button:disabled {
  background-color: var(--secondary-color);
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .muscle-group-selector-box {
    padding: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .muscle-group label {
    padding: 8px;
    font-size: 0.9rem;
  }

  .confirm-button {
    padding: 0.75rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .muscle-group-selector-container {
    padding-top: 2rem;
  }
  .muscle-group-selector-box {
    height: calc(100vh - 10rem);
    max-height: none;
    padding: 0.8rem;
  }
  .muscle-groups {
    gap: 10px;
  }

  .muscle-group label {
    padding: 6px;
    font-size: 0.8rem;
  }
}
