<div class="muscle-group-selector-container">
  <div class="muscle-group-selector-box">
    <h2>Select the Bodyparts you like to train today:</h2>
    <div class="muscle-groups">
      <div *ngFor="let group of muscleGroups" class="muscle-group">
        <input
          type="checkbox"
          [id]="group.name"
          [(ngModel)]="group.selected"
          hidden
        />
        <label [for]="group.name" [class.selected]="group.selected">
          <span>{{ group.name }}</span>
          <img [src]="group.image" [alt]="group.name" />
        </label>
      </div>
    </div>
    <button
      (click)="confirmSelection()"
      [disabled]="!isAnyGroupSelected"
      class="confirm-button"
    >
      Confirm Selection
    </button>
  </div>
</div>
