.workout-execution {
  padding: 20px;
}

.timer {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.set {
  margin-bottom: 10px;
}

.dropset {
  margin-left: 20px;
  margin-top: 5px;
}

.controls {
  margin-top: 20px;
}

.pause-timer {
  margin-top: 10px;
  color: red;
}
