/*.kanit-thin {
  font-family: "Kanit", system-ui;
  font-weight: 100;
  font-style: normal;
}

.kanit-extralight {
  font-family: "Kanit", system-ui;
  font-weight: 200;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", system-ui;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", system-ui;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", system-ui;
  font-weight: 500;
  font-style: normal;
}

.kanit-semibold {
  font-family: "Kanit", system-ui;
  font-weight: 600;
  font-style: normal;
}
  
<weight>: Use a value from 100 to 900

.outfit{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgb(1, 5, 56) 3%,
    rgb(8, 129, 209) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgb(7, 194, 138) 98%
  );
  animation: gradient 10s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}
